@charset "utf-8";
/*
 * Title: lhgDialog skin Default CSS 
 * CSS3 
 * URL: http://bbs.lhgcore.com/
 * (c)2011-2012 gumutianqi, http://bbs.lhgcore.com/
 *
 */
 
/* common Style start */
body { 
	_margin:0;
	overflow:auto;
	overflow-x:hidden; /* 隐藏页面X方向滚动条 */
	_height:100%; /*IE6 BUG*/ 
}

.ui_outer { 
	text-align:left;
}

table.ui_border, table.ui_dialog { 
	border:0; 
	margin:0; 
	border-collapse:collapse; 
	width:auto; 
}

.ui_lt, .ui_t, .ui_rt, .ui_l, .ui_c, .ui_r, .ui_lb, .ui_b, .ui_rb, .ui_header, .ui_tdIcon, .ui_main, .ui_footer { 
	padding:0; 
}

.ui_header, .ui_buttons button { 
	font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; 
	_font-family:Tahoma,Arial,Helvetica,STHeiti; 
	-o-font-family: Tahoma, Arial; 
}

.ui_title { 
	overflow:hidden; 
	text-overflow: ellipsis; 
}

.ui_state_noTitle .ui_title { 
	display:none; 
}

.ui_main { 
	text-align:center; 
	min-width:9em; 
	min-width:0\9	/*IE8 BUG*/; 
}

.ui_content { 
	display:inline-block; 
	*zoom:1; 
	*display:inline; 
	text-align:left; 
	border:none 0; 
}

.ui_content.ui_state_full { 
	display:block; 
	width:100%; 
	margin:0; 
	padding:0!important; 
	height:100%; 
}

.ui_loading { 
	width:96px; 
	height:32px; 
	text-align:left; 
	text-indent:-999em; 
	overflow:hidden; 
	background:url(icons/loading.gif) no-repeat center center; 
	vertical-align:middle;
}

.ui_icon { 
	vertical-align: middle; 
}

.ui_icon div { 
	width:48px; 
	height:48px; 
	margin:10px 0 10px 10px; 
	background-position: center center; 
	background-repeat:no-repeat; 
}

.ui_buttons { 
	padding:8px; 
	text-align:right; 
	white-space:nowrap; 
}
.ui_buttons button {
	margin-left: 15px;
	padding: 6px 10px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 1;
	*padding: 4px 10px;
	*height: 2em;
	letter-spacing: 2px;
	font-family: Tahoma, Arial/9!important;
	width: auto;
	overflow: visible;
	*width: 1;
	color: #333;
	border: solid 1px #999;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
	text-decoration: none !important;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	background: #ADADAD;
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ADADAD');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ADADAD');/* IE8 */
	background: linear-gradient(top, #FFF, #ADADAD);
	background: -moz-linear-gradient(top, #FFF, #ADADAD);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#ADADAD));
	-moz-transition: -moz-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
	transition: box-shadow linear .2s;
}

.ui_buttons button: : -moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}
.ui_buttons button:focus {
	outline: none 0;
	border-color: #426DC9;
	box-shadow: 0 0 8px rgba(66, 109, 201, .9);
}
.ui_buttons button:hover {
	text-decoration: none;
	border-color: #666;
	-webkit-box-shadow:1px 1px 6px #888;
	-webkit-transform:rotate(0deg);
	-moz-box-shadow:1px 1px 6px #888;
	-moz-transform:rotate(-0deg);
}
.ui_buttons button:active {
	border-color: #666;
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#ADADAD', endColorstr='#FFFFFF');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#ADADAD', endColorstr='#FFFFFF');
	background: linear-gradient(top, #ADADAD, #FFF);
	background: -moz-linear-gradient(top, #ADADAD, #FFF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ADADAD), to(#FFF));
	box-shadow: inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3);
}
.ui_buttons button[disabled] {
	cursor: default;
	color: #666;
	background: #DDD;
	border: solid 1px #999;
	filter: alpha(opacity=50);
	opacity: .5;
	box-shadow: none;
}
button.ui_state_highlight {
	color: #FFF;
	border: solid 1px #1c6a9e;
	background: #2288cc;
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
	background: linear-gradient(top, #33bbee, #2288cc);
	background: -moz-linear-gradient(top, #33bbee, #2288cc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
	text-shadow: -1px -1px 1px #1c6a9e;
}
button.ui_state_highlight:hover {
	color: #FFF;
	border-color: #0F3A56;
}
button.ui_state_highlight:active {
	border-color: #1c6a9e;
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
	background: linear-gradient(top, #33bbee, #2288cc);
	background: -moz-linear-gradient(top, #33bbee, #2288cc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
}

.ui_lock_scroll{ *overflow:hidden; }
.ui_lock_scroll body { overflow:hidden; padding-right:17px; }
.ui_lock_fixed body { padding-right:0; }
/* common Style end*/

/***************************************************************华丽的分割线： default 默认皮肤 **************************/
/* 内容区域css */
.ui_inner {
	background: #FFF;
	border: 1px solid rgba(113, 182, 282, .9);	
	border: 1px solid #71B6E8\9;
}

.ui_outer {
	border: 0px solid rgba(0, 0, 0, .7);	
	border: 0px solid #71B6E8\9;
}
.ui_border {
	box-shadow: inset 0 0 1px rgba(210, 210, 210, .9);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
}
/* 边框使用 css3实现边框轻微圆角 */
.ui_lt{
	-webkit-border-top-left-radius: .3em; 
	-moz-border-radius-topleft: .3em;
	border-top-left-radius: .3em;	
}
.ui_rt{
	-webkit-border-top-right-radius: .3em; 
	-moz-border-radius-topright: .3em;
	border-top-right-radius: .3em;	
}
.ui_lb{
	-webkit-border-bottom-left-radius: .3em; 
	-moz-border-radius-bottomleft: .3em;
	border-top-bottom-radius: .3em;
}
.ui_rb{
	-webkit-border-bottom-right-radius: .3em; 
	-moz-border-radius-bottomright: .3em;
	border-bottom-right-radius: .3em;
}
/* 圆角结束 */
.ui_lt, .ui_t, .ui_rt, .ui_l, .ui_r, .ui_lb, .ui_b, .ui_rb {
	background: rgba(0, 0, 0, .3);
	background: #ccc\9!important;
	filter: alpha(opacity=50);
}
.ui_lt, .ui_lb, .ui_rt, .ui_rb {
	width: 4px;
	height:4px;	
}

.ui_state_lock .ui_lt, .ui_state_lock .ui_t, .ui_state_lock .ui_rt, .ui_state_lock .ui_l, .ui_state_lock .ui_r, .ui_state_lock .ui_lb, .ui_state_lock .ui_b, .ui_state_lock .ui_rb {
	background: rgba(0, 0, 0, .3);
	background: #ccc\9!important;
	filter: alpha(opacity=50);
}
.ui_state_focus .ui_dialog {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.ui_state_focus .ui_outer {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.ui_state_lock .ui_border {
	box-shadow: 0 3px 26px rgba(0, 0, 0, .9);
}
.ui_state_drag .ui_outer, .ui_outer: active {
	box-shadow: none;
}
.ui_titleBar {
	position: relative;
	height: 100%;
}
/* title css */
.ui_title {
	height: 28px;
	min-width:100px;
	line-height: 27px;
	vertical-align:middle;
	padding: 0 28px 0 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	font-weight: bold;
	color: #95a7ae;
	font-family: Tahoma, Arial/9!important;
	background-color: #74BBF9;
	background: linear-gradient(top, #EBF4FD, #5AACFE);
	background: -moz-linear-gradient(top, #EBF4FD, #5AACFE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBF4FD), to(#5AACFE));
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#EBF4FD', endColorstr='#5AACFE');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#EBF4FD', endColorstr='#5AACFE');
	border-top: 1px solid #EBF4FD;
	border-top: 1px solid #74BBF9\9;
	border-bottom: 1px solid #b6bec5;
}
/** 标题前面的图片 **/
.ui_title_icon{
		
}

.ui_state_focus .ui_title {
	color: #4c5a5f;
	color: rgba(0, 0, 0, .8)\9;
}
/* 拖动时的css */
.ui_state_drag .ui_title {
	background: linear-gradient(top, #5AACFE, #D3EAF6);
	background: -moz-linear-gradient(top, #5AACFE, #D3EAF6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5AACFE), to(#D3EAF6));
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#5AACFE', endColorstr='#D3EAF6');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#5AACFE', endColorstr='#D3EAF6');
	box-shadow: none;
	border-top: 1px solid #74BBF9;
}
.ui_state_drag .ui_titleBar {
	box-shadow: none;
}

.ui_close, .ui_min, .ui_max, .ui_res, .ui_rese {
	display:block; 
	position:absolute; 
	text-decoration:none; 
	outline:none; 
	_cursor:pointer; 
	overflow:hidden;
	padding: 0;
	border:dotted 0px #999;
	top: 4px;
	right: 4px;
	width: 20px;
	height: 16px;
	line-height: 16px;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	font-family: Helvetica, STHeiti;
	_font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}
.ui_max, .ui_res{
	right:24px;
}
.ui_res{ display:none;} /* 最大化还原按钮 */
.ui_rese{ display:none; } /* 最小化还原按钮 */
.ui_min, .ui_rese{
	right:44px;	
}
.ui_min b, .ui_max b, .ui_res_t, .ui_res_b {
	display:block;
	position:absolute;
	overflow:hidden;
	cursor:pointer;
}
.ui_min b {
	top:5px;
	left:3px;
	width:14px;
	height:2px;
	border-bottom:2px solid #FFF;
}
.ui_max b, .ui_res_t {
	top:3px;
	left:5px;
	width:10px;
	height:8px;
	border:1px solid #FFF;
	border-top-width:2px;
}
.ui_res_b {
	top:5px;
	left:11px;
}
.ui_min b:hover, .ui_max b:hover, .ui_rese:hover, .ui_res b:hover {
	border-color:#C72015;
	color: #C72015;
}
.ui_close:hover  {
	color: #C72015;
	text-decoration:none;
}
.ui_close:active {
	box-shadow: none;
}
.ui_content {
	color: #666;
}
.ui_state_focus .ui_content {
	color: #000;
}
.ui_buttons {
	background-color: #F6F6F6;
	border-top: solid 1px #DADEE5;
}
.ui_state_noTitle .ui_lt, .ui_state_noTitle .ui_rt, .ui_state_noTitle .ui_lb, .ui_state_noTitle .ui_rb {
	width: 3px;
	height: 3px;
}
.ui_state_noTitle .ui_inner {
	border: 1px solid #666;
	background: #FFF;
}
.ui_state_noTitle .ui_outer {
	border: none 0;
	box-shadow: none;
}
.ui_state_noTitle .ui_lt, .ui_state_noTitle .ui_t, .ui_state_noTitle .ui_rt, .ui_state_noTitle .ui_l, .ui_state_noTitle .ui_r, .ui_state_noTitle .ui_lb, .ui_state_noTitle .ui_b, .ui_state_noTitle .ui_rb {
	background: rgba(0, 0, 0, .05);
	background: #000\9!important;
	filter: alpha(opacity=5)!important;
}
.ui_state_noTitle .ui_titleBar {
	bottom: 0;
	_bottom: 0;
	_margin-top: 0;
}
.ui_state_noTitle .ui_close {
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	text-indent: 0;
	font-family: Helvetica, STHeiti;
	_font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino;
	font-size: 18px;
	text-decoration: none;
	color: #214FA3;
	background: none;
	filter: !important;
}
.ui_state_noTitle .ui_close: hover, .ui_state_noTitle .ui_close: active {
	text-decoration: none;
	color: #900;
}
.ui_state_noTitle .ui_dialog {
	box-shadow: none;
}

/***************************************************************华丽的分割线：imac 默认皮肤 **************************/
/* 内边框 */
.imac .ui_inner {
	background: #FFF;
	border: 1px solid rgba(0, 0, 0, .2);	
	border: 1px solid #ccc\9;
	-webkit-box-shadow:1px 1px 10px #888;
	-webkit-transform:rotate(0deg);
	-moz-box-shadow:1px 1px 10px #888;
	-moz-transform:rotate(-0deg);
}
/* 窗口四周边框 table布局，只需要设置一个tr，一个td */
.imac .ui_lt, .imac .ui_lb, .imac .ui_rt, .imac .ui_rb {
	width: 1px;height:.1em;
	
}
/* 获取焦点后的标题 css */
.imac .ui_state_focus .ui_title {
	color: #4F4F4F;
	color: rgba(0, 0, 0, .8)\9;
}
/* title css */
.imac .ui_title {
	color: #95a7ae;
	font-family: Tahoma, Arial/9!important;
	background-color: #CCC;
	background: linear-gradient(top, #E9E9E9, #C7C7C7);
	background: -moz-linear-gradient(top, #E9E9E9, #C7C7C7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E9E9E9), to(#C7C7C7));
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#C7C7C7');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#C7C7C7');
	border-top: 1px solid #E9E9E9;
	border-top: 1px solid #C7C7C7\9;
	border-bottom: 1px solid #C7C7C7;
}

/** 标题前面的图片 **/
.imac .ui_title_icon{
	padding: 0;
	border: solid 0px red;
	top: 6px;
	right: 6px;
	width: 16px;
	height: 16px;
	line-height: 16px;
}

/* 拖动时的css */
.imac .ui_state_drag .ui_title {
	background: linear-gradient(top, #C7C7C7, #E9E9E9);
	background: -moz-linear-gradient(top, #C7C7C7, #E9E9E9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C7C7C7), to(#E9E9E9));
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#C7C7C7', endColorstr='#E9E9E9');
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid: DXImageTransform.Microsoft.gradient(startColorstr='#C7C7C7', endColorstr='#E9E9E9');
	box-shadow: none;
	border-top: 1px solid #C7C7C7;
}
/* 关闭按钮 css */
.imac .ui_close {
	padding: 0;
	border: 0px;
	top: 6px;
	right: 6px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-indent:-3000em;
	background:url(mac.png) 0 -16px no-repeat!important;
}
.imac .ui_close:hover {
	background:url(mac.png) -16px -16px no-repeat!important;
}
.imac .ui_max, .imac .ui_min {
	right:27px;
	padding: 0;
	border: 0px;
	top: 6px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-indent:-3000em;
}
.imac .ui_max {
	background:url(mac.png) -16px -63px no-repeat!important;
}
.imac .ui_min {
	right:50px;
	background:url(mac.png) 0 -64px no-repeat!important;
}
.imac .ui_max:hover {
	background:url(mac.png) -16px -80px no-repeat!important;
}
.imac .ui_min:hover {
	background:url(mac.png) 0 -80px no-repeat!important;
}
